<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <form action="/shorten" method="post">
      <label for="longurl">Enter a long URL:</label>
      <input type="url" id="longurl" name="longurl" required />
      <button type="submit">Shorten</button>
    </form>
    <% if(shortUrl) { %>
    <p>Your shortened URL is: <a href="<%=shortUrl %>"><%=shortUrl %></a></p>
    <% } %>
  </body>
</html>
